body {
    font-family: Optima, sans-serif;
    margin-left: 10%; margin-right: 10%;
}

#TOC {
  text-align: center;
}

#TOC>ul {
    margin: 0; padding: 0;
}

#TOC>ul>li {
    list-style-type: none;
    margin: 0; padding: 0;
    padding-left: 1em; padding-right:1em;
    display: inline;
}

#TOC>ul>li>ul {
    margin: 0; padding: 0;
    display: block;
}

#TOC>ul>li>ul>li {
    display: block;
    padding: 0;
}

h1 a, h2 a, #TOC a {
    text-decoration: none;
    font-weight: bold;
    color: forestgreen;
}

a {
    color: firebrick;
}

pre code {
    display: block;
    margin: 1em; padding: 1em;
    background-color: aliceblue;
}

img {
    display: block;
    margin: auto;
}
