body {
    font-family: Optima, sans-serif;
    margin-left: 10%; margin-right: 10%;
}

h1, h2 {
    font-family: Palatino, serif;
}

h1.title {
    text-align: center;
    margin-bottom: 0.2em;
    font-size: 40pt;
    color: cornflowerblue;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 15pt;
}

p {
    font-size: 12pt;
    line-height: 1.5em;
}

#TOC {
    text-align: center;
    margin-bottom: 2em;
}

#TOC>ul {
    margin: 0; padding: 0;
}

#TOC>ul>li {
    list-style-type: none;
    margin: 0; padding: 0;
    padding-left: 1em; padding-right:1em;
    display: inline;
}

#TOC>ul>li>ul {
    margin: 0; padding: 0;
    display: block;
}

#TOC>ul>li>ul>li {
    display: block;
    padding: 0;
}

a {
    color: orangered;
}

h1 a, h2 a {
    color: cornflowerblue;
}

h1 a, h2 a, #TOC a {
    text-decoration: none;
    font-weight: bold;

pre code {
    display: block;
    margin: 1em; padding: 1em;
    background-color: beige;
}

img {
    display: block;
    margin: auto;
}
